html {
  font-size : 14px;
  @include respond-to(sm) {
    font-size : 13px;
  }
  @include respond-to(md) {
    font-size : 12px;
  }
  @include respond-to(lg) {
    font-size : 14px;
  }
}

body {
  background : $bg_yellow;
}

figcaption {
  display:none;
}
#aframe-scene {
  min-height : 60vh;
  position: relative;
}
#exploration-day-img {
  background: transparent url(/images/exploration-days.jpg) no-repeat scroll center center;
  width: 100%;
  height:30rem;
  display: block;
  background-size:contain;
  margin-bottom:1rem;

  @include respond-to(xs){
    width : 80vw;
    height : 80vw;
  }

}

a-scene {
	height: 60vh;
	width: 100%;
}


.contact-wrapper{
	background:#ccc;
	padding:50px;
	height:200px;

	@include respond-to(xs){
		padding:20px;
	}


}