$body_text    : $soot;
$sub_text     : $ash;
$headline     : $soot;
$contrast_chalk : $chalk;
$contrast_ash : $ash;
$link         : $storm;
$link_other   : $storm;

$bg_storm     : $storm;
$bg_lilac     : $lilac;
$bg_yellow    : $yellow;
$bg_taupe     : $taupe;
$bg_mould     : $mould;
$bg_soot       : $soot;

$spot_disc    : $coral;
$spot_icon    : $yellow;
