.post-template{
	background:url('../images/vr-patterns.png') #ccc;
}

.post{
	background:white;
	margin-top:100px;
	padding:50px;
}

.post-title{
	font-family:'futurabold';
	text-transform: uppercase;
	font-size:70px;
}

.post-content{
	font-family:'Helvetica';
	font-weight:200;
	font-size:18px;
}