<div class="section-wrapper">
	<div class="container client-container">
		<h2 class="section-heading dark-heading">Clients</h2>


	<div class="row">
	  <div class="col-6 col-md-3">
	  	<div class="client-item">
	  		<img src="images/clients/nascent.png">
	  	</div>
	  </div>
	  <div class="col-6 col-md-3">
	  	<div class="client-item">
	  		<img src="images/clients/at.png">
	  	</div>
	  </div>
	  <div class="col-6 col-md-3">
	  	<div class="client-item">

	  	</div>
	  </div>
	  <div class="col-6 col-md-3">
	  	<div class="client-item">
	  		<img src="images/clients/blend.png">
	  	</div>
	  </div>
	</div>

	<div class="row">
	  <div class="col-6 col-md-3">
	  	<div class="client-item">
	  		<img src="images/clients/icl.png">
	  	</div>
	  </div>
	  <div class="col-6 col-md-3">
	  	<div class="client-item">
	  		<img src="images/clients/rbs.png">
	  	</div>
	  </div>
	  <div class="col-6 col-md-3">
	  	<div class="client-item">
	  		<img src="images/clients/tabl.png">
	  	</div>
	  </div>
	  <div class="col-6 col-md-3">
	  	<div class="client-item">
	  		<img src="images/clients/tesco.png">
	  	</div>
	  </div>
	</div>

</div>
</div>