<div class="contact-wrapper">
	<div class="container">

		<h2 class="section-heading">Get in touch</h2>

		<div class="row">

			<div class="col-sm-4">
                <p class="contact-item"><a href="tel://+447957122273">+44 (0)7957 122 273</a></p>
			</div>

			<div class="col-sm-4">
				<p class="contact-item"><a href="mailto:hi@studiozero.co">hi@studiozero.co</a></p>
			</div>

			<div class="col-sm-4">
                <p class="contact-item"><a href="https://twitter.com/studiozeroco">@studiozeroco</a></p>
			</div>

		</div>

	</div>
</div>