
    <h2><a href="#explore-new-worlds" id="explore-new-worlds">Explore new worlds</a></h2>
    <p>We provide a range of consultations, to help businesses and industries seize chances to stay ahead of their
        competitors.</p>
    <h3><a href="#vr-taster-session" id="vr-taster-session">VR Taster session.</a></h3>
    <p>VR is still a new medium, and for many in business, it's not obvious what the potential applications are. We run
        &frac12; day sessions to introduce small groups to the possibilities in VR.</p>
    <h3><a href="#exploration-days" id="exploration-days">Exploration days</a></h3>
    <p>Exploration days help companies understand how Immersive web technologies can solve real problems and add value
        to their business. A 1 or 2 day session to:</p>
    <ul>
        <li>Try out the latest VR equipment</li>
        <li>Get key market insights</li>
        <li>Generate business-specific use-cases and prototypes.</li>
    </ul>
    <h3><a href="#discovery-programmes" id="discovery-programmes">Discovery programmes</a></h3>
    <p>Our Discovery programmes are designed to rapidly iterate on your initial ideas, and get them ready for
        development. We work with you to:</p>
    <ul>
        <li>build business cases,</li>
        <li>establish market fit</li>
        <li>technical architecture</li>
        <li>create high-level UX &amp; visual design</li>
        <li>make prototypes</li>
    </ul>