<div id="exploration-days" class="intro-container section-wrapper">
    <div class="container">

        <div class="row">
            <h2 class="section-heading">How will the immersive web will change your business?</h2>

        </div>
        <div class="row">
            <p class="homepage-body">Studio Zero is offering packaged Exploration days to help companies understand how Immersive web technologies can solve <em>real</em> problems and add value to their business.</p>
            <ul class="homepage-body">
                <li>Try out the latest VR equipment</li>
                <li>Get key market insights</li>
                <li>Generate business-specific use-cases and prototypes</li>
                <li>We work with you to structure a plan for further development</li>
            </ul>

            <p class="homepage-body">Download the <a class="body-link" href="https://assets.studiozero.xyz/exploration_days_overview.pdf">exploration day overview</a></p>
            <p class="homepage-body"></p>
        </div>


    </div>
</div>