<footer class="container-fluid contrast-ash">
	<div class="container">
        <div class="row">
            <div class="col-md-6 col-12 contrast-highlight">
                {{partial "contact" .}}
            </div>
            <div class="col-md-6 col-12 contrast-highlight">
                {{partial "signup-form.html" .}}
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                {{partial "legal" .}}
            </div>
        </div>
	</div>
</footer>
{{partial "analytics.html" .}}