<nav class="navbar navbar-toggleable-md navbar-light bg-faded">


  	<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
	<a class="navbar-brand" href="/">
  	<svg class="header-logo" viewBox="0 0 473.95 189.26">
  		<g>
  			<polygon points="327.77 30.62 236.18 189.26 144.59 30.62 327.77 30.62"></polygon>
  			<polygon points="290.77 158.64 382.36 0 473.95 158.64 290.77 158.64"></polygon>
  			<polygon points="0 158.64 91.59 0 183.18 158.64 0 158.64"></polygon>
  		</g>
  	</svg>
	</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="{{ .Site.BaseURL }}">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://medium.com/studio-zero/">Blog</a>
      </li>
      
    </ul>

  </div>	


</nav>