

	<section class="container">

		<h2 class="section-heading dark-heading">Some of our work</h2>
		
		<div class="row">
			
			<div class="col-md-4 col-sm-6">
				<img class="img-fluid" src="images/work/nascent.png">
				<div class="item-body">
					<h4>Nascent Medical : VR <abbr title="Mechanism of Action">MoA</abbr></h4>
					<p>A POC piece of work to look at doing a Mechanism of Action explanation for medical education.</p>
					<a class="body-link" href="/case_studies/nascent">case study</a>
				</div>
			</div>

			<div class="col-md-4 col-sm-6">
				<img class="img-fluid" src="images/work/2.png">
				<div class="item-body">
					<h4>WebVR Art Gallery</h4>
					<p>A Virtual Reality Art Gallery. Walk around in this immersive exhibition</p>
					<a class="body-link" href="/case_studies/webvr_gallery">Case Study</a>
				</div>
			</div>

			<div class="col-md-4 col-sm-6">
				<img class="img-fluid" src="images/work/st.jpg">
				<div class="item-body">
					<h4>Stranger Things Countdown</h4>
					<p>Visit the Byers home to see a Countdown to the second season of the Netflix series.</p>
					<a class="body-link" href="http://www.strangerthingscountdown.com">view project</a>
				</div>
			</div>

			<div class="col-md-4 col-sm-6">
				<img class="img-fluid" src="images/work/lastjedi.jpg">
				<div class="item-body">
					<h4>The Last Jedi VR Poster</h4>
					<p>Part of our VR Poster collection, this one for Star Wars, The Last Jedi. Watch the trailer and more.</p>
					<a class="body-link" href="https://lastjedi.glitch.me">View Project</a>
				</div>
			</div>

			<div class="col-md-4 col-sm-6">
				<img class="img-fluid" src="images/work/evr.jpg">
				<div class="item-body">
					<h4>Exhale VR</h4>
					<p>A breathing exercise VR experience.</p>
					<a class="body-link" href="http://www.exhalevr.com">View Project</a>
				</div>
			</div>
			
			<div class="col-md-4 col-sm-6">
				<img class="img-fluid" src="images/work/1.png">
				<div class="item-body">
					<h4>Rogue One VR Poster</h4>
					<p>Our first Virtual Reality movie poster.</p>
					<a class="body-link" href="https://medium.com/studio-zero/poster-vr-re-imagining-the-movie-poster-9440b252156d" target="_blank">Read More</a>
				</div>
			</div>

		</div>

	</section>