<div class="section-wrapper webvr-container">
	
	<div class="container">
	
	<h2 class="section-heading dark-heading">Virtual Reality on the Web!</h2>

	<div class="row">
		
		
		<p class="homepage-body dark-body">Thanks to new standard APIs, we are able to build and distribute Virtual Reality experiences for the browser, and for those that are not able to expirience a full or part VR expirience, we can fallback to rich interactive content that allows everyone to access it. We always build our WevVR projects in a progressive enhanced way.</p>

		<p class="homepage-body dark-body">Our VR experiences can be crafted to your needs to work on any OR all of the popular VR devices and use all of their functionality, whilst also supporting the most primative version.</p>

		<p class="homepage-body dark-body">We use responsive design principles and progressive enhancement to ensure that your content is available on any device.</p>

		<p class="homepage-body dark-body"><a href="/case_studies/snackable-vr" class="body-link">Snackable VR case study</a></p>

	</div>

</div>

</div>