<section><h2><a href="#what-is-web-vr" id="what-is-web-vr">What is Web VR?</a></h2>
    <p>In much the same way as you can see other rich media, such as audio, video and interactive games on a web page,
        Web VR is a way to enable full VR experiences in the browser.</p>
    <p>Web VR is <strong>responsive.</strong> Meaning that content is available for <em>every</em> user on the web, from
        the Google Cardboard all the way to a full VR or MR headset. If you don't have a headset, content can still be
        enjoyed as 360 or 3D.</p>
    <p>Web VR doesn't need an app store. It's <strong>VR at the end of a URL</strong>. You can share a link on social
        media, and your friends and followers can access it immediately. Device agnostic, and no app stores to get
        between you and your customers.</p>
    <p>Web VR is <em>part</em> of the web. It runs on the same technology that most businesses already use to deploy
        websites, and most modern browsers will run Web VR experiences. As browsers develop, you can add more into the
        experience.</p>
    <p>In <em>fact</em>, our header graphic is an <strong>embedded Web VR experience</strong> that you should try right
        now.</p>
</section>