.blog-card {
  .panel-heading {
    background : #000;
    color : white;
    display:block;
    h4 {
      transform : rotate(-1deg);
    }
  }
  &:nth-child(odd) {
    h4 {
      transform : rotate(1deg);
    }
  }
}