footer
	.container
		.row
			.col-sm-4.col-md-4
				h2 Social
				p
					a(href="https://www.facebook.com/wearestudiozero/") Facebook
				p
					a(href="https://www.twitter.com/studiozeroco/") Twitter
				p
					a(href="https://www.instagram.com/wearestudiozero/") Instagram
				p
					a(href="https://medium.com/studio-zero") Medium

			.col-sm-4.col-md-4
				h2 Get in touch
				p hi@studiozero.co
				p +447720 612 460
