footer
    .container
        .row
            .col-sm-4.col-md-4
                h2 Studio Zero
                p Kemp House <br> 152/160 City Road <br> London <br> EC1V 2DW
                p Company #09431335
                p VAT # 207 2275 32

            .col-sm-4.col-md-4
                h2 Get in touch
                p hi@studiozero.co
                p +447720 612 460

            .col-sm-4.col-md-4
                h2 Social
                p
                    a(href="https://www.facebook.com/wearestudiozero/") Facebook
                p
                    a(href="https://www.twitter.com/studiozeroco/") Twitter
                p
                    a(href="https://www.instagram.com/wearestudiozero/") Instagram
                p
                    a(href="https://medium.com/studio-zero") Medium
        .row
            .col-md-12
                p:small last update on #{_metadata.date}, v#{_metadata.systemVersion}
