nav#navigation
    div.container
        svg.header-logo(viewbox='0 0 772.48 316.87')
            g
                path(d='M512,645.84L359.32,381.37H664.71Zm-141.56-258L512,633,653.58,387.8H370.45Z', transform='translate(-127.06 -328.97)')
                path(d='M899.54,593.45H594.15L746.85,329ZM605.28,587H888.41L746.85,341.82Z', transform='translate(-127.06 -328.97)')
                path(d='M432.45,593.45H127.06L279.76,329ZM138.19,587H421.32L279.76,341.82Z', transform='translate(-127.06 -328.97)')
        ul.nav-right
            li
                a(href="http://www.medium.com/studio-zero") Blog
            li
                a(href="http://www.facebook.com/wearestudiozero") Facebook
            li
                a(href="http://www.instagram.com/wearestudiozero") Instagram
            li
                a(href="http://www.twitter.com/studiozeroco") Twitter