nav.navbar.navbar-inverse
    .container
        .navbar-header
            button.navbar-toggle.collapsed(data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false")
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand(href="/")
                svg.header-logo(viewbox="0 0 473.95 189.26")
                    g
                        polygon(points="327.77 30.62 236.18 189.26 144.59 30.62 327.77 30.62")
                        polygon(points="290.77 158.64 382.36 0 473.95 158.64 290.77 158.64")
                        polygon(points="0 158.64 91.59 0 183.18 158.64 0 158.64")

        .collapse.navbar-collapse#bs-example-navbar-collapse-1

            ul.nav.navbar-nav.navbar-right
                include _submenus.pug