section.opening
    p.intro #{_knols.what_is_studio_zero.attributes.description}
    div.tech
        span VR
        span AR
        span MR
        span AI
    .knol.body !{_knols.what_is_studio_zero.html}
