section.opening
    p.intro A creative studio building immersive products and experiences for the web.
    div.tech
        span VR
        span AR
        span MR
        span AI
    p.body Studio Zero is a small creative studio based in London and we're taking our combined knowledge of 30 years building for the web and bringing all of that to Virtual, Augmented and Mixed reality. We want to help everyone from educators to storytellers, from big brands to small start ups create unique and unforgettable experiences using the power of the web. Want to combine Virtual Reality with an Artificial Intelligent chatbot running in the cloud? We can help you with that.
