aside.col-md-4
    h2 On the blog
    .row
        - var n = 0;
        - var p = 0;
        while p < 3 && n < _site_data.blog.contents.length
            - var post = _site_data.blog.contents[n]
            - var test = (post._metadata.title !== _metadata.title)

            if test
                include _partials/_blog_card.pug
                - n++
                - p++
            else
                - n++