section.why-wvr.container
	.row
		p.intro
			| Virtual Reality on the Web
		p.body
			| Thanks to new standard APIs, we are able to build and distribute Virtual Reality experiences for the browser, and for those that are not able to expirience a full or part VR expirience, we can fallback to rich interactive content that allows everyone to access it. We always build our WevVR projects in a progressive enhanced way.
		<br />
		p.body
			| Our VR experiences can be crafted to your needs to work on any OR all of the popular VR devices and use all of their functionality, whilst also supporting the most primative version. We develop for desktop VR HMDs such
			| as the <span style="padding:2px 10px;background:black;color:white;font-family:'Courier New';font-weight:bold;">HTC Vive</span> and <span style="padding:2px 10px;background:black;color:white;font-family:'Courier New';font-weight:bold;">Oculus Rift</span>. In mobile VR we support <span style="padding:2px 10px;background:#2787f5;color:white;font-family:'Courier New';font-weight:bold;">Google Daydream</span> and <span style="padding:2px 10px;background:#ddd;color:black;font-family:'Courier New';font-weight:bold;">GearVR</span> as well as the standard browsers using <span style="padding:2px 10px;background:#f16522;color:white;font-family:'Courier New';font-weight:bold;">Google Cardboard</span>. Finally we can fall back to a desktop browser where your content will
			| still be available.



