section.container-fluid.our-work
	.container
		.work-list.row
			h3 Some of our work
			.work-item.col-md-4
				img.img-responsive(src="/assets/images/st.jpg")
				h4 Stranger Things Countdown
				p Visit the Byers home to see a Countdown to the second season of the Netflix series.
				a.btn.btn-default(href="#") View
			.work-item.col-md-4
				img.img-responsive(src="/assets/images/1.png")
				h4 Rogue One VR Poster
				p A take on a how a movie poster could become a small Virtual Reality expirience.
				a.btn.btn-default(href="http://www.web-vr.xyz/rogue") View
				a.btn.btn-default.read-more(href="https://medium.com/studio-zero/poster-vr-re-imagining-the-movie-poster-9440b252156d") Read about this
			.work-item.col-md-4
				img.img-responsive(src="/assets/images/evr.jpg")
				h4 Exhale VR
				p An Embeddable meditaion and breathing site, showing some of the sharable benefits of having your VR app available on the web.
				a.btn.btn-default(href="http://www.exhalevr.com") View