footer.container-fluid
    div.col-md-4
        h2 Studio Zero Digital
        p Kemp House <br> 152/160 City Road <br> London <br> EC1V 2DW
        p Company #09431335

    div.col-md-4
        h2 Get in touch

        p hi@studiozero.co
        p +447720 612 460
        p (last update by #{_metadata.author} on #{_metadata.date}
    div.col-md-4
        h2 Social
        p
            a(href="https://www.facebook.com/wearestudiozero/") Facebook
        p
            a(href="https://www.twitter.com/studiozeroco/") Twitter
        p
            a(href="https://www.instagram.com/wearestudiozero/") Instagram
        p
            a(href="https://medium.com/studio-zero") Medium