doctype
html(lang="en")
	head
		title #{_metadata.title}
		include _meta_twitter_large_summary
		include _meta_og
		include _meta_amp

		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous")
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous")
		include _standard_fonts
		link(rel="stylesheet" href="/main.css")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js")
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous")
		script(src="/assets/js/aframe-v0.4.0.min.js")
		script(src="/assets/components/ground.js")
		script(src="/assets/js/main.js")

	body
		include _main_menu
		include _home_header

		include _opening
		section
			ul.work-list
				li.work-item
					a()
						img(src="/assets/images/soon.jpg")
				li.work-item
					a(href="https://medium.com/studio-zero/poster-vr-re-imagining-the-movie-poster-9440b252156d" title="Rogue One VR Poster")
						img(src="/assets/images/1.png")
				li.work-item
					a
						img(src="/assets/images/soon.jpg")


		section.clients
			ul
				li
					img(src="/assets/images/sa.png")
				li
					img(src="/assets/images/tabl.png")
				li
					img(src="/assets/images/tesco.png")
				li
					img(src="/assets/images/icl.png")
				li
					img(src="/assets/images/rbs.png")


		include footer.pug
	script.
		(function (s, t, u, d, i, o, z) {
			s['GoogleAnalyticsObject'] = i;
			s[i] = s[i] || function () {
					(s[i].q = s[i].q || []).push(arguments)
				}, s[i].l = 1 * new Date();
			o = t.createElement(u),
				z = t.getElementsByTagName(u)[0];
			o.async = 1;
			o.src = d;
			z.parentNode.insertBefore(o, z)
		})(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

		ga('create', 'UA-90214138-1', 'auto');
		ga('send', 'pageview');

