@import "./_scss/blog_page.scss"; //


@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:3s;
  -moz-animation-duration:3s;
  animation-duration:3s;
}


html,body{
  margin:0;
  padding:0;
  color:#191919;
}
svg {
  fill : #fff;
  stroke : none;
}
.navbar {
  border-radius : 0;
  margin-bottom : 0;
  .navbar-brand {
    width : 80px;
  }

}


.home-header{
  height:80vh;
  position: relative;
}

.home-header-logo {
  opacity:0;
  text-align: center;
  position: absolute;
  top: 60%;
  z-index: 100;
  display: block;
  padding:0.8em;
  margin:0;
  width:100%;
  font-weight: 200;
  font-size: 50px;


}
.home-header-logo svg {
  max-width : 468px;
}


p.intro{
  color:white;
  text-align: center;
  padding: 0;
  font-size: 28px;
  margin:0 auto;
  width:100%;


  @media(min-width:720px){
    font-size: 50px;
    width:90%;
  }

}

.work-list{
  margin:0;
  padding:0;
  list-style: none;
  overflow: hidden;

  .work-item{
    float:left;
    width: 100%;

    @media(min-width:720px){
      width:33.33%;
    }

    img{
      max-width: 100%;
    }
  }
}

//

.opening{
  background:url('./assets/images/stardust.png');
  overflow:hidden;
  color:white;
  position:relative;
  padding:50px;
  font-size: 2rem;

  @media(min-width:720px){
    font-size: 3rem;
  }

  .body {
    font-weight:300;
    width: 100%;
    margin: auto;
    line-height: 1.6em;

    @media(min-width:720px){
      width: 70%;
    }
  }

}

.why-wvr{

  .intro{
    color:#444444;
  }

}

.tech {
  overflow: hidden;
  width: 100%;
  margin:30px auto;


  @media(min-width:720px){
    width: 80%;
  }

  span{
    font-size: 40px;
    color:#2cfdc9;
    float:left;
    width:25%;
    text-align:center;


    @media(min-width:720px){
      font-size: 35px;
    }
  }
}


// Clients

.clients{
  overflow: hidden;
  padding:30px 0;

  @media(min-width:720px){
    padding:100px 0;
  }

  ul{
    list-style-type: none;
    margin:0;
    padding:0;

    li{
      float:left;
      width:100%;
      text-align:center;
      margin:10px 0;

      @media(min-width:720px){
        width:20%;
        margin:0 0;
      }
    }
  }
}


// Footer

footer{
  background:#242529;
  color:white;

  a{
    color:#2cfdc9;
    text-decoration-style: none;
  }


  .vrara img{
    max-width: 100%;
  }
}

.blog-page {
  .jumbotron {
    background : #ede9e9 url(/assets/images/vr-patterns.png) repeat scroll center center;
  }
}